<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/logo azul unab.png" alt="">
    <ion-item>
        <ion-label position ="floating">Correo electrónico</ion-label>
        <ion-input type = "text" [(ngModel)]="email" name = "email" ></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label position ="floating">Constraseña</ion-label>
          <ion-input type = "password" [(ngModel)]="password" name = "password" ></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="onSubmitLogin()" expand ="block" color ="secondary">
            Entrar  
          </ion-button>
          <label class="error-message">{{errorMessage}}</label>
        <h6>Email: {{Email}}</h6>
        <h6>Pass: {{password}}</h6>
</ion-content>
